.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

  h1, h2, h3, h4, h5, h6, p, img, footer, header,
  section, ul, li, main, div, nav {
 margin: 0;
 padding: 0;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  background-color: #f2f2f2

  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  padding: 30px 64px;
}
.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
  width: 730px;

}

.header__subtitle {
  position: absolute;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #000;
  bottom: 30px;
  left: 64px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  display: flex;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  display: flex;
  right: 0px;
  bottom: 0px;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  margin: 0;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-width: 784px;
  width: 80%;
  list-style-type: none;

}
.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
}

.table__cell {
  width: 250px;
}

.table__heading {
  width: 250px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: left;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: left;
}

.table__text:last-of-type {
  margin-bottom: 0;
}


.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 790px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
}


.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  color: #000;
  margin: 100px auto 0;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#1f1f1f;
  color: #f2f2f2;
  overflow: hidden;

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.section-title_theme_dark {
  margin-top: 90px;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__heading_theme_dark {
  margin-top: 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color:#1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info {
  color: #f2f2f2;
  display: flex;
  flex-direction: column;

}

.footer__column-heading {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;


}

.footer__column-links {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
}

.footer__column_content_social{
  color: #f2f2f2;
  list-style-type: none;
  display: flex;
  flex-direction: column;

}

.footer__social-icon {
  padding-right: 10px;
}

